{% extends "base.html" %}
{% block title %} Liste des ventes {% endblock %}

{% block content %}
    <h1>Liste des ventes</h1>
    {% if ventes %}
        <table>
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Total</th>
                    <th>Statut</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for vente in ventes %}
                    <tr>
                        <td>{{ vente.client }}</td>
                        <td>{{ vente.produit }}</td>
                        <td>{{ vente.quantite }}</td>
                        <td>{{ vente.prix_unitaire }} Francs CFA</td>
                        <td>{{ vente.total }} Francs CFA</td>
                        <td>{{ vente.statut }}</td>
                        <td>{{ vente.date_vente }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune vente enregistrée.</p>
    {% endif %}
    <a href="/">Retour à l'accueil</a>
{% endblock %}